[build]
  base = "ai-tools-directory"
  command = "npm run build"
  publish = "out"

# Optimizations for Static Site
[[headers]]
  for = "/*"
  [headers.values]
    Cache-Control = "public, max-age=0, must-revalidate"

[[headers]]
  for = "/_next/static/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
